.agency {
  position: relative;
  margin: 0 15px;
  margin-bottom: 3rem;

  .agency-img {
    overflow: hidden;

    img {
      width: 100%;
      transform: translate3d(-30px, 0, 0) scale(1.1);

      transition: transform 0.45s;
      backface-visibility: hidden;
    }
  }

  .agency-content {
    display: flex;
    padding: 1rem 2rem 3rem;
    color: $black;
    font-size: 0.875rem;
    font-weight: $font-weight-semibold;

    .metas {
      flex: 1;
    }

    .agency-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60px;

      a {
        border: 1px solid #333;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        font-size: 1.4rem;
        width: 40px;
        border-radius: 0.15rem;
        margin-bottom: 0.45rem;
      }
    }

    .title {
      font-size: 1.4rem;
      color: $accent-color;
      margin-bottom: 0.75rem;
      font-weight: $font-weight-semibold;
      // text-transform: uppercase;
    }
  }

  &:hover {
    .agency-img {
      img {
        transform: translate3d(0, 0, 0) scale(1);
      }
    }
  }

  .location {
    line-height: 1.4;
    margin-bottom: 0.5rem;
  }
}

.contact-infos {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0.5rem;
}

.langs {
  font-weight: $font-weight-semibold;
  color: $black;
  
  span {
    font-weight: $font-weight-normal;
  }
}
