.page-header {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px;
  padding-top: 175px;

  .page-header__inner {
    position: relative;
    text-align: center;
    color: $white;

    padding: 50px 25px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.45);
    }

    h1, p {
      position: relative;
      color: $white;
    }
  }
}
