<form action="" class="contact-agent">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Votre nom de famille (Obligatoire)"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Votre adresse e-mail (Obligatoire)"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Votre numéro de téléphone (Obligatoire)"
    />
  </div>
  <div class="form-group">
    <textarea name="" id="" rows="4" class="form-control">
Je souhaite des renseignements sur la propriété situé à la Cité OUA sur le Boulevard Gnassingbé Eyadema.
Merci.
</textarea
    >
  </div>
  <div class="text-left">
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="newsletter" />
        <label class="custom-control-label" for="newsletter"
          >Souscrire à la <span class="accent-color">Newsletters</span></label
        >
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="alerts" />
        <label class="custom-control-label" for="alerts"
          >Souscrire aux
          <span class="accent-color"
            >Alertes par courriel aux biens</span
          ></label
        >
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="favorites" />
        <label class="custom-control-label" for="favorites"
          >Ajouter à <span class="accent-color">Mes favoris</span></label
        >
      </div>
    </div>

    <div class="disclaimer">
      <p>
        Oui, j'aimerais obtenir plus d'informations dee la part de ARRIS Agency.
        Veuillez utiliser et/ou partager mes informations avec un agent ARRIS
        Agency pour me conntacter au sujet de mes besoins immobiliers.
      </p>
      <p>
        Enn cliquant sur Contacter l'agent, j'accepte qu'un agent ARRIS Agency
        puisse me contacter par téléphone ou SMS,y comprris par des moyens
        automatisés concernant les services immobiliers, et que je puisse
        accéder aux services immobiliers sans fournir mon numéro de téléphone.
        Je reconnais avoir lu et accepté les
        <a href="#" class="accent-color">conditions d'utilisation</a>
        et
        <a href="#" class="accent-color">la politique de confidentialité.</a>
      </p>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-block btn-dark">Nous contacter</button>
  </div>
</form>
