<aside class="sidebar-area blog-sidebar">
  <div class="widget search-widget">
    <form action="#">
      <input type="search" name="search" placeholder="Recherche ...">
      <button type="submit"><i class="mdi mdi-magnify"></i></button>
    </form>
  </div>

  <div class="widget posts-widget">
    <h3 class="widget-title">Latest posts</h3>
    <ul>
      <li>
        <div class="post-item clearfix">
          <div class="post-item-img">
            <a href="/arris/blog-detail.html">
              <img src="{{root}}assets/img/post-thumb.jpg" alt="">
            </a>
          </div>
          <div class="post-item-info">
            <span>04 Avril 2021</span>
            <h4><a href="/arris/blog-detail.html">Maîtriser les mandats</a></h4>
          </div>
        </div>
      </li>
      <li>
        <div class="post-item clearfix">
          <div class="post-item-img">
            <a href="/arris/blog-detail.html">
              <img src="{{root}}assets/img/post-thumb.jpg" alt="">
            </a>
          </div>
          <div class="post-item-info">
            <span>04 Avril 2021</span>
            <h4><a href="/arris/blog-detail.html">Devenir négociateur immobilier</a></h4>
          </div>
        </div>
      </li>
      <li>
        <div class="post-item clearfix">
          <div class="post-item-img">
            <a href="/arris/blog-detail.html">
              <img src="{{root}}assets/img/post-thumb.jpg" alt="">
            </a>
          </div>
          <div class="post-item-info">
            <span>04 Avril 2021</span>
            <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h4>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="widget categories-widget">
    <h3 class="widget-title">Catégories</h3>
    <ul>
      <li>
        <a href="#">
          Architecture <span>(2)</span>
        </a>
      </li>
      <li>
        <a href="#">
          Immobilier <span>(18)</span>
        </a>
      </li>
      <li>
        <a href="#">
          Intérieur <span>(9)</span>
        </a>
      </li>
      <li>
        <a href="#">
          Lifestyle <span>(22)</span>
        </a>
      </li>
      <li>
        <a href="#">
          Housing <span>(14)</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="widget tags-widget">
    <h3 class="widget-title">Tags</h3>
    <ul>
      <li>
        <a href="#">Commercial</a>
      </li>
      <li>
        <a href="#">Immobilier</a>
      </li>
      <li>
        <a href="#">Interior</a>
      </li>
      <li>
        <a href="#">Lifestyle</a>
      </li>
      <li>
        <a href="#">Office</a>
      </li>
      <li>
        <a href="#">Afrique</a>
      </li>
    </ul>
  </div>

  <div class="widget social-widget">
    <h3 class="widget-title">Suivez-nous</h3>
    
  </div>
</aside>