<footer class="footer clearfix">
  <div class="container">
    <div class="footer-top">
      <a href="#" class="footer-logo">
        <img src="{{root}}assets/img/ARRIS-LOGO.png" alt="footer logo" />
      </a>

      <ul class="footer-menu">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Qui sommes-nous</a></li>
        <li><a href="#">Nos meilleurs biens</a></li>
        <li><a href="#">Autres services</a></li>
        <li><a href="#">Nos Agences</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <div class="footer-social">
          <ul>
              <li>
                  <a href="#"><i class="mdi mdi-twitter"></i></a>
              </li>
              <li>
                  <a href="#"><i class="mdi mdi-facebook"></i></a>
              </li>
              <li>
                  <a href="#"><i class="mdi mdi-instagram"></i></a>
              </li>
              <li>
                  <a href="#"><i class="mdi mdi-linkedin"></i></a>
              </li>
          </ul>
      </div>
    </div>

    <div class="footer-bottom">
        <div class="holding-img">
            <a href="#">
                <img src="{{root}}assets/img/ioka-holding.png" alt="Ioka Holding">
            </a>
        </div>

        <div class="footer-links">
            <span class="credits">
                ©2019 ARRIS. A member of IOKA HOLDING SA
            </span>
            <a href="#">Conditions d'utilisation du site web</a>
            <a href="#">Politique de confidentialité</a>
        </div>
    </div>
  </div>
</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/vendor/js/swiper-bundle.min.js"></script>
<script src="{{root}}assets/vendor/js/slick.min.js"></script>
<script src="{{root}}assets/vendor/js/magnific.popup.min.js"></script>
<script src="{{root}}assets/vendor/js/sticky-sidebar.min.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->
