<div class="property-gallery">
  <div class="swiper-container property-main-gallery">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{{root}}assets/img/bg/agencies-bg.jpeg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="{{root}}assets/img/gallery-slide-2.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="{{root}}assets/img/gallery-slide3.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="{{root}}assets/img/gallery-slide4.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="{{root}}assets/img/gallery-slide5.jpg" alt="" />
      </div>
    </div>
    <div class="gallery-navs gallery-nav-next">
      <i class="mdi mdi-arrow-right"></i>
    </div>
    <div class="gallery-navs gallery-nav-prev">
      <i class="mdi mdi-arrow-left"></i>
    </div>
  </div>
  <div class="swiper-container property-thumb-gallery">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{{root}}assets/img/slide-thumb-1.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="{{root}}assets/img/galery-thumb2.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="{{root}}assets/img/gallery-thumb-3.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="{{root}}assets/img/gallery-thumb4.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="{{root}}assets/img/gallery-thumb5.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
