<header class="main-header">
  <div class="top-header-area">
    <div class="container-fluid">
      <ul class="top-menu">
        <li>
          <a href="#">
            <img src="{{root}}assets/img/icons/globet.png" alt="globe icon" />
            <span>Choisissez votre pays</span>
          </a>
        </li>
        <li>
          <a href="">
            <img
              src="{{root}}assets/img/icons/account.png"
              alt="account icon"
            />
            <span>Mon compte</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="navbar-area">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="{{root}}assets/img/ARRIS-LOGO.png" alt="Logo Arris" />
        </a>
        <button
          class="navbar-toggler ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#main-menu"
          aria-controls="main-menu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="mdi mdi-menu"></i>
        </button>

        {{> navigation}}
      </nav>
    </div>
  </div>
</header>
