<div class="collapse navbar-collapse justify-content-center" id="main-menu">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Accueil</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about.html">Qui sommes-nous</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services.html">Autres services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/franchise.html">Devenir franchisé</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/career.html">Carrière</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact.html">Contact</a>
    </li>
    <li class="nav-item lang-items">
      <a class="nav-link" href="#">FR</a>
      <a class="nav-link" href="#">EN</a>
    </li>
  </ul>
</div>
