<form action="" method="GET" class="search-form">
  <div class="row justify-content-center">
    <div class="col-lg-7 col-md-9">
      <div class="input-table-group">
        <div class="input-table-item">
          <input
            type="text"
            class="form-control search-primary-main-input"
            autocomplete="off"
            placeholder="Saisissez la ville, l'état ou la région"
          />
        </div>
        <div class="input-table-item">
          <button type="submit" class="btn btn-dark">Rechercher</button>
        </div>
      </div>
      <div class="text-left text-white">
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="residencial"
            name="search-type"
            class="custom-control-input"
            checked
          />
          <label class="custom-control-label" for="residencial">Résidence<label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="commercial"
            name="search-type"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="commercial">Commercial</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="lands"
            name="search-type"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="lands">Terrains</label>
        </div>
      </div>
      <div class="advanced-search-panel">
        <a href="#" class="toggle-advanced">
          Recherche avancée <span class="mdi mdi-menu-down"></span>
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="advanced-panel">
    <div class="row">
      <div class="col-md-3">
        ok
      </div>
      <div class="col-md-3">
        ok
      </div>
      <div class="col-md-3">
        ok
      </div>
      <div class="col-md-3">
        ok
      </div>
    </div>
  </div> -->
</form>