<form action="" method="GET" class="search-form">
  <div class="row justify-content-center">
    <div class="col-lg-7 col-md-9">
      <div class="input-table-group">
        <div class="input-table-item">
          <input
            type="text"
            class="form-control search-primary-main-input"
            autocomplete="off"
            placeholder="Saisissez la ville, l'état ou la région"
          />
        </div>
        <div class="input-table-item">
          <button type="submit" class="btn btn-dark">Rechercher</button>
        </div>
      </div>
      <div class="text-left text-white">
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="residencial"
            name="search-type"
            class="custom-control-input"
            checked
          />
          <label class="custom-control-label" for="residencial">Résidence<label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="commercial"
            name="search-type"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="commercial">Commercial</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="lands"
            name="search-type"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="lands">Terrains</label>
        </div>
      </div>
      <div class="advanced-search-panel">
        <a
        class="toggle-advanced" 
        data-toggle="collapse" 
        href="#toggleAdvancedPanel" role="button" 
        aria-expanded="false">
          Recherche avancée <span class="mdi mdi-menu-down"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="advanced-panel collapse" id="toggleAdvancedPanel">
    <div class="row">
      <div class="col-md-3">
        <div class="">
          <label for="">.</label>
          <div class="row no-gutters">
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Minimum">
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Maximum">
            </div>
            <div class="col-md-4">

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-left">
          <label for="">Types de bien</label>
          <div class="search-checkboxes">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="all_types">
              <label class="form-check-label" for="all_types">
                Toutes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="item1">
              <label class="form-check-label" for="item1">
                Maison individuelle
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="item2">
              <label class="form-check-label" for="item2">
                Villa
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="item3">
              <label class="form-check-label" for="item3">
                Appartement
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="item4">
              <label class="form-check-label" for="item4">
                Maison préfabriquée
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="item5">
              <label class="form-check-label" for="item5">
                Bureau
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="item6">
              <label class="form-check-label" for="item6">
                Duplex
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="item7">
              <label class="form-check-label" for="item7">
                Magasin
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="item8">
              <label class="form-check-label" for="item8">
                Showroom
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="item9">
              <label class="form-check-label" for="item9">
                Terrain résidentiel
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="item10">
              <label class="form-check-label" for="item10">
                Terrain agricole
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="item11">
              <label class="form-check-label" for="item11">
                Commercial
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="item12">
              <label class="form-check-label" for="item12">
                Immeuble
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-left">
          <label for="">Cractéristiques</label>
          <div class="search-checkboxes">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="all_cars">
              <label class="form-check-label" for="all_cars">
                Toutes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="car1">
              <label class="form-check-label" for="car1">
                Salles de bains
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="car2">
              <label class="form-check-label" for="car2">
                Cuisine
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="car3">
              <label class="form-check-label" for="car3">
                Garage
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="car4">
              <label class="form-check-label" for="car4">
                Patio/Terrasse/Balcon
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="car5">
              <label class="form-check-label" for="car5">
                Meublé
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="car6">
              <label class="form-check-label" for="car6">
                Climatisation
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="car7">
              <label class="form-check-label" for="car7">
                Partking/Parking privé
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="car8">
              <label class="form-check-label" for="car8">
                Piscine
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="car9">
              <label class="form-check-label" for="car9">
                Vue sur la mer
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="car10">
              <label class="form-check-label" for="car10">
                Pet friendly
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="car11">
              <label class="form-check-label" for="car11">
                Salle de magasin
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="car12">
              <label class="form-check-label" for="car12">
                Sécurité
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-left">
          <label for="">Catégories</label>
          <div class="search-checkboxes">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="all_cats">
              <label class="form-check-label" for="all_cats">
                Toutes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cat1">
              <label class="form-check-label" for="cat1">
                Résidentiel
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cat2">
              <label class="form-check-label" for="cat2">
                Commercial
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cat3">
              <label class="form-check-label" for="cat3">
                Terrain
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cat4">
              <label class="form-check-label" for="cat4">
                Industriel
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cat5">
              <label class="form-check-label" for="cat5">
                Usage mixte
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cat6">
              <label class="form-check-label" for="cat6">
                Boutique
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cat7">
              <label class="form-check-label" for="cat7">
                Exploitatios Agricoles
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cat8">
              <label class="form-check-label" for="cat8">
                Petites Exploitations
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="cat9">
              <label class="form-check-label" for="cat9">
                Vente  aux enchères
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="text-center my-5">
          <button class="btn btn-dark">Rechercher</button>
        </div>
      </div>
    </div>
  </div>
</form>