

<div class="search-form">
  <ul class="nav nav-tabs nav-tabs-line justify-content-center">
    <li class="nav-item">
      <a href="#for-sale-tab" class="nav-link active" data-toggle="tab"
        >A vendre</a
      >
    </li>
    <li class="nav-item">
      <a href="#for-rent-tab" class="nav-link" data-toggle="tab">A louer</a>
    </li>
    <li class="nav-item">
      <a href="#agencies-tab" class="nav-link" data-toggle="tab">Agences</a>
    </li>
    <li class="nav-item">
      <a href="#agents-tab" class="nav-link" data-toggle="tab">Agents</a>
    </li>
  </ul>

  <div class="tab-content mt-4">
    <div class="tab-pane fade show active" id="for-sale-tab">
      {{> sale-form }}
    </div>  
  </div>
</div>
